@media screen and (max-width: 700px) {
    
/* Nav start */

    .nav-continer{

    flex-direction: column;


     }

     .nav-manu{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;


     }

     .nav-logo-tex{
        margin-top: 20px;
margin-bottom: 30px;



     }

/* Nav and */



.banner-container{

flex-direction: column-reverse;
     }
     
     .play{
          padding-top: 50px;
width: max-content;

margin: auto;
     }

     .bannar-titel{
width: max-content;
margin: auto;


     }

     .banner-text{

          text-align: left;
          margin: auto;
          width: max-content;
          
               }
               
           .banner-img{
            
               width: 70%;
            margin-top: 40px;
                    
           }



           
          
          
}

