*{
margin: 0;
padding: 0;
box-sizing: border-box;

font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Work Sans', sans-serif;

}

.nav-seciton{
    border: 1px solid rgb(69, 4, 233);

    
}

.nav-continer{

display: flex;
justify-content: space-between;
align-items: center;

border: 1px solid red;
max-width: 1400px;
margin: auto;

}

.nav-logo-tex{
    border: 3px solid rgb(141, 227, 12);  
    width: 50%;
display: flex;
gap: 15px;
align-items: center;

}

.nav-titel{
    
    font-size: 2.8rem;
    font-weight: 700;
    
}

.nav-manu a{
text-decoration: none;
margin-right: 15px;

}

.manu-btn{
    background: rgba(11, 2, 35, 0.10);
padding: 10px 20px;
border-radius: 5px;


}



